<!--<mat-card>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Add Department"><app-add-dept-details></app-add-dept-details></mat-tab>
        <mat-tab label="View Departments">Departments list here..</mat-tab>
    </mat-tab-group>
</mat-card>-->

<mat-card>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
</mat-card>