
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Line Of Business</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Functionality</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name Of the Component Manager</mat-label>
    <input matInput>
  </mat-form-field>
  
  
  <!-- <div class="example-button-row">
    <button mat-raised-button color="primary">Save</button> 
    <button mat-raised-button>Cancel</button>
  </div> -->